<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ninja Gold</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>
  <div class="container">
    <h3 class="spacer">Your Gold: <span id="account-value">{{account_value}}</span></h3>
    <div class="row spacer">
      <div class="col-sm-3">
        <form action="/process_money" method="post" class="text-center location">
          <div class="form-group">
            <h2>Farm</h2>
            <span>(earns 10-20 golds)</span>
            <input type="hidden" name="building" value="farm" />
          </div>
          <button type="submit" value="Find Gold!" class="btn btn-primary">Find Gold!</button>
        </form>
      </div>
      <div class="col-sm-3">
        <form action="/process_money" method="post" class="text-center location">
          <div class="form-group">
            <h2>Cave</h2>
            <span>(earns 5-10 golds)</span>
            <input type="hidden" name="building" value="cave" />
          </div>
          <button type="submit" value="Find Gold!" class="btn btn-primary">Find Gold!</button>
        </form>
      </div>
      <div class="col-sm-3">
        <form action="/process_money" method="post" class="text-center location">
          <div class="form-group"  >
            <h2>House</h2>
            <span>(earns 2-5 golds)</span>
            <input type="hidden" name="building" value="house" />
          </div>
          <button type="submit" value="Find Gold!" class="btn btn-primary">Find Gold!</button>
        </form>
      </div>
      <div class="col-sm-3">
        <form action="/process_money" method="post" class="text-center location">
          <div class="form-group">
            <h2>Casino</h2>
            <span>(earns/takes 0-50 golds)</span>
            <input type="hidden" name="building" value="casino" />
          </div>
          <button type="submit" value="Find Gold!" class="btn btn-primary">Find Gold!</button>
        </form>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-sm-12">
        <h3>Activities:</h3>
        <div class="activities">
          {% block content %}
            {% for message in account_history %}
              {% if message.value > 0 %}
                <p>Earned {{message.value}} golds from the {{message.result}}! ({{message.date + " UTC"}})</p>
              {% elif message.value <= 0 %}
                <p>Entered a {{message.result}} and lost {{message.value*(-1)}}...Ouch. ({{message.date + " UTC"}})</p>
              {% endif %}
            {% endfor %}
          {% endblock content %}
        </div>
      </div>
    </div>
</body>

</html>